<style>
    #highHolidayDonation {
        width: 440px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        text-align: left;
    }
    #highHolidayDonation p {
        color: #555;
    }
    #highHolidayDonation p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p .int-he {
        font-family: "adobe-garamond-pro", Georgia, serif;
        /* font-family: "Heebo", sans-serif; */
    }
    #highHolidayDonation p.sub {
        color: #999;
        font-size: 12px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px; 
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
</style>
<div id="highHolidayDonation">
    <p>
        <span class="int-en">Dear Sefaria Community,</span>
        <span class="int-he">Dear Sefaria Community,</span>
    </p>

    <p>
        <span class="int-en">Educators and students have access to more than 100 million words of Torah in Sefaria’s library and use our tools every day for teaching and learning. With your help, we can build a bigger library and new tools to revolutionize education. Please considering make a tax-deductible donation today!</span>
        <span class="int-he">Educators and students have access to more than 100 million words of Torah in Sefaria’s library and use our tools every day for teaching and learning. With your help, we can build a bigger library and new tools to revolutionize education. Please considering make a tax-deductible donation today!</span>
    </p>

    <center>
    <a class="button" target="_blank" href="https://bit.ly/1jqIwua">
        <span class="int-en">Make a Donation</span>
        <span class="int-he">Make a Donation</span>
    </a>
    </center>

    <p>
        <span class="int-en">Thank you and happy Chanukah,</span>
        <span class="int-he">Thank you and happy Chanukah,</span>
    </p>

    <img src="data:image/png," />

    <p>
        <span class="int-en">Sara Wolkenfeld<br />Education Director</span>
        <span class="int-he">Sara Wolkenfeld<br />Education Director</span>
    </p>

    <p class="sub">
        <span class="int-en">
            Sefaria is a 501(c)(3) charitable organization;<br />donations are tax-deductible as allowed by law.
        </span>
        <span class="int-he">
            התרומה לספריא פטורה ממס כפי שמעוגן בחוק.
        </span>
    </p>

</div>
