<style>
    #highHolidayDonation {
        width: 410px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        text-align: left;
    }
    #highHolidayDonation p {
        color: #555;
    }
    #highHolidayDonation p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p .int-he {
        font-family: "adobe-garamond-pro", Georgia, serif;
        /* font-family: "Heebo", sans-serif; */
    }
    #highHolidayDonation p.sub {
        color: #999;
        font-size: 12px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px; 
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
</style>
<div id="highHolidayDonation">
    <p>
        <span class="int-en">Dear Sefaria Community,</span>
        <span class="int-he">Dear Sefaria Community,</span>
    </p>

    <p>
        <span class="int-en">We host a library with more than 100 million words of Torah. It’s free for everyone and it’s more accessible than ever with a growing body of translations. But, we can only continue to foster learning with your support. Please consider making a tax-deductible donation today!</span>
        <span class="int-he">We host a library with more than 100 million words of Torah. It’s free for everyone and it’s more accessible than ever with a growing body of translations. But, we can only continue to foster learning with your support. Please consider making a tax-deductible donation today!</span>
    </p>

    <center>
    <a class="button" target="_blank" href="https://bit.ly/1jqIwua">
        <span class="int-en">Make a Donation</span>
        <span class="int-he">Make a Donation</span>
    </a>
    </center>

    <p>
        <span class="int-en">Thank you,</span>
        <span class="int-he">Thank you,</span>
    </p>

    <img src="data:image/png," />

    <p>
        <span class="int-en">Annie Lumerman<br />Chief Operating Officer</span>
        <span class="int-he">Annie Lumerman<br />Chief Operating Officer</span>
    </p>

    <p class="sub">
        <span class="int-en">
            Sefaria is a 501(c)(3) charitable organization;<br />donations are tax-deductible as allowed by law.
        </span>
        <span class="int-he">
            התרומה לספריא פטורה ממס כפי שמעוגן בחוק.
        </span>
    </p>

</div>
