<style>
    #highHolidayDonation {
        width: 410px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        text-align: left;
    }
    #highHolidayDonation p {
        color: #555;
    }
    #highHolidayDonation p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p .int-he {
        font-family: "adobe-garamond-pro", Georgia, serif;
        /* font-family: "Heebo", sans-serif; */
    }
    #highHolidayDonation p.sub {
        color: #999;
        font-size: 12px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px; 
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
</style>
<div id="highHolidayDonation">
    <p>
        <span class="int-en">Dear Sefaria Community,</span>
        <span class="int-he">Dear Sefaria Community,</span>
    </p>

    <p>
        <span class="int-en">Thanks to Sefaria's generous donors, more than 100 million words of Torah are available online, for free, for everyone, forever. Our goal is 150 million; we're close. But we will not get there without your support. Make a tax-deductible donation today! </span>
        <span class="int-he">Thanks to Sefaria's generous donors, more than 100 million words of Torah are available online, for free, for everyone, forever. Our goal is 150 million; we're close. But we will not get there without your support. Make a tax-deductible donation today! </span>
    </p>

    <center>
    <a class="button" target="_blank" href="https://bit.ly/1jqIwua">
        <span class="int-en">Make a Donation</span>
        <span class="int-he">Make a Donation</span>
    </a>
    </center>

    <p>
        <span class="int-en">Shanah tovah for a healthy and happy 5778,</span>
        <span class="int-he">Shanah tovah for a healthy and happy 5778,</span>
    </p>

    <img src="data:image/jpeg,
" />

    <p>
        <span class="int-en">Daniel Septimus<br />Executive Director</span>
        <span class="int-he">Daniel Septimus<br />Executive Director</span>
    </p>

    <p class="sub">
        <span class="int-en">
            Sefaria is a 501(c)(3) charitable organization;<br />donations are tax-deductible as allowed by law.
        </span>
        <span class="int-he">
            התרומה לספריא פטורה ממס כפי שמעוגן בחוק.
        </span>
    </p>

</div>
