<style>
    #highHolidayDonation {
        width: 410px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        text-align: right;
    }
    #highHolidayDonation p {
        color: #555;
    }
    #highHolidayDonation p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p .int-he {
        font-family: "adobe-garamond-pro", Georgia, serif;
        /* font-family: "Heebo", sans-serif; */
    }
    #highHolidayDonation p.sub {
        color: #999;
        font-size: 12px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px; 
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
</style>
<div id="highHolidayDonation">

    <p>
        <span class="int-en">To the Sefaria Community:</span>
        <span class="int-he">תודה רבה על השימוש באתר ספריא</span>
    </p>
    <p>
        <span class="int-en">Join us in celebrating the new year with a gift to Sefaria. Educators, students and you have access to more than 100 million words of Torah in Sefaria’s library.</span>
        <span class="int-he">אנחנו בספריא מתכננים להוסיף עוד שירותים ואפשרויות לקהילת המשתמשם בישראל.</span>
    </p>

    <p>
        <span class="int-en">Please consider making a tax-deductible donation today as you kickoff 5779.</span>
        <span class="int-he">לקראת השנה החדשה נשמח אם תשקלו לסייע לנו להמשיך להצליח להפוך את מקורות היהדות לזמינים ונגישים עבורכן/ם ולתרום.</span>
    </p>


    <center>
    <a class="button int-en" target="_blank" href="https://bit.ly/supportsefaria">
        <span>Make a Donation</span>
    </a>
    <a class="button int-he" target="_blank" href="https://sefaria.nationbuilder.com/support_il">
        <span>לתרומה לספריא לחץ כאן</span>
    </a>
    </center>

   <p>
        <span class="int-en">With gratitude,</span>
        <span class="int-he"></span>
    </p>

    <img class="int-en" src="data:image/png," />

    <p>
        <span class="int-en">Annie Lumerman<br />Chief Operating Officer</span>
        <span class="int-he"></span>
    </p>


    <p class="sub">
        <span class="int-en">
            Sefaria is a 501(c)(3) charitable organization; donations are tax-deductible as allowed by law.
        </span>
        <span class="int-he">
            התרומה לספריא פטורה ממס כפי שמעוגן בחוק.
        </span>
    </p>

</div>
